<p id="notice"><%= notice %></p>
<center>
<div class="page-header">
  <h2><%= @question.body.html_safe %></h2>
  <h4><%= @question.tile %></h4><br>
	<h4><small>Submitted by <%= @question.student.stuname %> <br/> <%= time_ago_in_words(@question.created_at) %> ago</small></h4>
</div>
<% if @question.student== current_student -%>
	<div class="btn-group">
		<%= link_to 'Edit', edit_question_path(@question), class: "btn btn-default" %>
		<%= link_to 'Delete', @question, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
	</div>
<% end %>
</center>


<!-- <p>
  <strong>Tile:</strong>
  <%= @question.tile %>
</p>

<p>
  <strong>Body:</strong>
<<<<<<< HEAD
  <%= @question.body %> -->


<%= link_to 'Back', questions_path,class: "btn btn-primary "%>

  <br>
  
</p>
<p> Comments <%= @question.comments.count %> 
<h2>Write Comment: </h2>

 
<h3 class="comments_title">Answer</h3>
<div id="box">
<%= simple_form_for [@question, Comment.new]  do |f| %>
  <div class="field">
    <%= f.input :body, as: :wysihtml5 %>
  </div>
  <br>
  <%= f.submit "Add Comment", class: "btn btn-primary" %>
<% end %>
  <div id="box1">
  <%= @question.comments.count %> comments:

<%= render :partial => @question.comments %>
</div>
</div>
  <style>
#box{
    background-color: lightgrey;
    width: 700px;
    border: 5px solid lightblue;
    padding: 10px;
    margin: 1px;
}
#box1{
    background-color: lightblue;
    width: 650px;
    border: 5px solid lightblue;
    padding: 10px;
    margin: 1px;
    color: black;
}
</style>