<html lang="en">
<head>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <div class="container">
<table class="table table-bordered">
<tr style="color: red">
<th><strong>NAME</strong></th>
<th><strong>QUESTION</strong></th>
<th><strong>Description</strong></th>
<th><strong>STATUS</strong></th>
</tr>
<% @question.each do |p| %>
<% @student.each do |s|%>
<% if s.id == p.student_id %>
<tr>
<td><%=s.stuname%></td>
<td><%=p.body.html_safe%></td>
<td><%=p.tile%></td>
<% if p.acc == true %>
				<td><strong>ACCEPTED</strong></td>
				<% elsif p.rej == true%>
				<td><strong>REJECTED</strong></td>
				<% else %>
				<div class="col-md-3"></div>
  				<div class="col-md-6">
				<td colspan="20">
				
					<%= button_to "Accept", dashboard_accept_path(id: p.id,uid: s.id,method: :post),class: "btn btn-primary" %>
					<%= button_to "Reject", dashboard_reject_path(id: p.id,uid: s.id,method: :post),class: "btn btn-primary" %>
				</td>
				</div>
				</tr>
				
				<% end %>
				<% end %>
				
<%end%>
<%end%>
				</table>
				