<div class="container:style=> 'width: 20px'">
  <%= simple_form_for @form do |f| %>

  <div class="col-md-3"></div>
  <div class="col-md-6">
  <h2 align="center"> Hello <%= current_student.email %> </h2>
 <h2>Fill out the form </h2>
  <div class ="Field">
      <%= f.input :mobile,placeholder: " Current Mobile Number" %> 
      <%= f.input :curmail,placeholder: "Official Mail"  %>
      <%= f.input :address,placeholder: "current Address"  %>
      <%= f.input :linked_id,placeholder: "LinkedIn Handle"  %>
      
  </div>


    <%= f.input :current,priority: ["Working"], collection: ["Government official", "Higher Studies", "Entrepreneur", "Working", "Other Field"],input_html: { id: "select", style: 'width: 300px' } %>

    <div class="common">
      <%= f.input :comname, placeholder: "Company name"  %>

      <%= f.input :comaddr,placeholder: "Company Address" %>

      <%= f.input :desig,placeholder: "Designation" %>

     

    </div>

    <div class="working">
      <%=f.input :is_placed, as: :boolean, label: "Placed on Campus" %> 
    </div> 




    <div class="higher">
      <%= f.input :univ,placeholder: "University Name",class: "form-control"  %>
      <%= f.input :univaddr,placeholder: "University Address",class: "form-control"  %>
      <%= f.input :course, placeholder: "Course Name",class: "form-control"  %>
    </div>

    <div class="govt">
      <%= f.input :govtsector, placeholder: "Government Sector",class: "form-control"  %>
      <%= f.input :desig,placeholder: "Designation" %>
      <%= f.input :comaddr,placeholder: "Address" %>
    </div>


    <div class="entrepreneur">
      <%= f.input :contribute,placeholder: "Contribution", class: "form-control"  %>
    </div>
    

    <div class="actions" align="center">
      <br>
      <%= f.button :submit, "Finish", class: "btn btn-success" %>
    </div>

    <% end %>
  </div>
</div>
</div>
